.popup_bar_bg_ks{
	position:fixed;	
	margin: auto;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:99;
	/*background-color: #444F53;*/
	filter:alpha(opacity=90);  /*IE5、IE5.5、IE6、IE7*/
	background-repeat: repeat;
	visibility:hidden;
	overflow:hidden;
	/*background:rgba(68, 79, 83, 0.9) none repeat scroll 0 0 !important;*/
	background: url(/images/New_ui/login_bg.png);
	background-position: 0 0;
	background-size: cover;
	opacity: .94;
}
.FormTitle {
	table-layout:fixed;
}

.FormTitle i {
    color: #FC0;
    font-style: normal;
}
.FormTitle em {
    color: #00ffe4;
    font-style: normal;
}
.FormTitle b {
    color: #1cfe16;
    font-style: normal;
	font-weight:normal;
}
input[type=button]:focus {
	outline: none;
}
input[type=checkbox]{
	vertical-align:middle;
}
#log_content3, #loading_block2 {line-height:1.5}
.input_option{
	vertical-align:middle;
	font-size:12px;
}
.input_option_2{
	margin-left:2px;
	padding-left:5px;
	padding-right:5px;
	height:21px;
	width:152px;
	line-height:23px \9;
	font-size:12px;
	font-family: Lucida Console;
	background-image:none;
	vertical-align:middle;
	color:#FFFFFF;
	outline: none;
	text-align: center;
	border:1px solid transparent;
	background-color: transparent;
}
.input_option_2:hover, .input_option_2:focus{
	/*--------rog--------*/
	/*border:1px solid #91071f;*/
	/*background-color: #3e030d;*/
	/*--------non rog--------*/
	outline: none;
	border: 1px solid grey;
	background-color:#576D73;
}
